# wildcard patterns
Makefile
Makefile.in
.deps
.dirstamp
.stamps
.libs
stamp-h?
*.[ao]
*.l[ao]
*.swp

# /
/INSTALL
/aclocal.m4
/autom4te.cache
/config.h*
/config*.lineno
/config.log
/config.status
/configure
/gstreamermm-*.tar.*
/libtool
/.cproject
/.project
/.settings

# docs/
/docs/doc-install.pl
/docs/doc-postprocess.pl
/docs/doxygen.css
/docs/doxygen-extra.css
/docs/tagfile-to-devhelp2.xsl
/docs/reference/Doxyfile
/docs/reference/doxygen.log
/docs/reference/gstreamermm-1.0.devhelp2
/docs/reference/gstreamermm-1.0.tag
/docs/reference/html/

#examples/
/examples/*/example
/examples/basics/bin
/examples/basics/bus
/examples/basics/dynamic_pads
/examples/basics/element_factory
/examples/basics/init_gstreamermm

# gstreamer/
gstreamer/gstreamermm/allocator.cc
gstreamer/gstreamermm/allocator.h
gstreamer/gstreamermm/audioclock.cc
gstreamer/gstreamermm/audioclock.h
gstreamer/gstreamermm/audiofilter.cc
gstreamer/gstreamermm/audiofilter.h
gstreamer/gstreamermm/audioringbuffer.cc
gstreamer/gstreamermm/audioringbuffer.h
gstreamer/gstreamermm/audiosink.cc
gstreamer/gstreamermm/audiosink.h
gstreamer/gstreamermm/audiosrc.cc
gstreamer/gstreamermm/audiosrc.h
gstreamer/gstreamermm/audiobasesink.cc
gstreamer/gstreamermm/audiobasesink.h
gstreamer/gstreamermm/audiobasesrc.cc
gstreamer/gstreamermm/audiobasesrc.h
gstreamer/gstreamermm/audioformat.h
gstreamer/gstreamermm/audioformat.cc
gstreamer/gstreamermm/audioinfo.h
gstreamer/gstreamermm/audioinfo.cc
gstreamer/gstreamermm/basesink.cc
gstreamer/gstreamermm/basesink.h
gstreamer/gstreamermm/basesrc.cc
gstreamer/gstreamermm/basesrc.h
gstreamer/gstreamermm/basetransform.cc
gstreamer/gstreamermm/basetransform.h
gstreamer/gstreamermm/bin.cc
gstreamer/gstreamermm/bin.h
gstreamer/gstreamermm/buffer.cc
gstreamer/gstreamermm/buffer.h
gstreamer/gstreamermm/bufferlist.cc
gstreamer/gstreamermm/bufferlist.h
gstreamer/gstreamermm/bus.cc
gstreamer/gstreamermm/bus.h
gstreamer/gstreamermm/caps.cc
gstreamer/gstreamermm/caps.h
gstreamer/gstreamermm/capsfeatures.cc
gstreamer/gstreamermm/capsfeatures.h
gstreamer/gstreamermm/audiocdsrc.cc
gstreamer/gstreamermm/audiocdsrc.h
gstreamer/gstreamermm/childproxy.cc
gstreamer/gstreamermm/childproxy.h
gstreamer/gstreamermm/clock.cc
gstreamer/gstreamermm/clock.h
gstreamer/gstreamermm/clockutils.cc
gstreamer/gstreamermm/clockutils.h
gstreamer/gstreamermm/colorbalance.cc
gstreamer/gstreamermm/colorbalance.h
gstreamer/gstreamermm/colorbalancechannel.cc
gstreamer/gstreamermm/colorbalancechannel.h
gstreamer/gstreamermm/concat.cc
gstreamer/gstreamermm/concat.h
gstreamer/gstreamermm/context.cc
gstreamer/gstreamermm/context.h
gstreamer/gstreamermm/discoverer.cc
gstreamer/gstreamermm/discoverer.h
gstreamer/gstreamermm/discovererinfo.cc
gstreamer/gstreamermm/discovererinfo.h
gstreamer/gstreamermm/downloadbuffer.cc
gstreamer/gstreamermm/downloadbuffer.h
gstreamer/gstreamermm/element.cc
gstreamer/gstreamermm/element.h
gstreamer/gstreamermm/elementfactory.cc
gstreamer/gstreamermm/elementfactory.h
gstreamer/gstreamermm/encodebin.cc
gstreamer/gstreamermm/encodebin.h
gstreamer/gstreamermm/encodingprofile.cc
gstreamer/gstreamermm/encodingprofile.h
gstreamer/gstreamermm/enums.cc
gstreamer/gstreamermm/enums.h
gstreamer/gstreamermm/error.cc
gstreamer/gstreamermm/error.h
gstreamer/gstreamermm/event.cc
gstreamer/gstreamermm/event.h
gstreamer/gstreamermm/filter.cc
gstreamer/gstreamermm/filter.h
gstreamer/gstreamermm/format.cc
gstreamer/gstreamermm/format.h
gstreamer/gstreamermm/ghostpad.cc
gstreamer/gstreamermm/ghostpad.h
gstreamer/gstreamermm/glbasefilter.cc
gstreamer/gstreamermm/glbasefilter.h
gstreamer/gstreamermm/glfilter.cc
gstreamer/gstreamermm/glfilter.h
gstreamer/gstreamermm/gst_wrap_init.cc
gstreamer/gstreamermm/index.cc
gstreamer/gstreamermm/index.h
gstreamer/gstreamermm/indexfactory.cc
gstreamer/gstreamermm/indexfactory.h
gstreamer/gstreamermm/interface.cc
gstreamer/gstreamermm/interface.h
gstreamer/gstreamermm/iterator.cc
gstreamer/gstreamermm/iterator.h
gstreamer/gstreamermm/mapinfo.cc
gstreamer/gstreamermm/mapinfo.h
gstreamer/gstreamermm/memory.cc
gstreamer/gstreamermm/memory.h
gstreamer/gstreamermm/message.cc
gstreamer/gstreamermm/message.h
gstreamer/gstreamermm/miniobject.cc
gstreamer/gstreamermm/miniobject.h
gstreamer/gstreamermm/navigation.cc
gstreamer/gstreamermm/navigation.h
gstreamer/gstreamermm/netclientclock.cc
gstreamer/gstreamermm/netclientclock.h
gstreamer/gstreamermm/object.cc
gstreamer/gstreamermm/object.h
gstreamer/gstreamermm/pad.cc
gstreamer/gstreamermm/pad.h
gstreamer/gstreamermm/padtemplate.cc
gstreamer/gstreamermm/padtemplate.h
gstreamer/gstreamermm/parse.cc
gstreamer/gstreamermm/parse.h
gstreamer/gstreamermm/pipeline.cc
gstreamer/gstreamermm/pipeline.h
gstreamer/gstreamermm/playsink.cc
gstreamer/gstreamermm/playsink.h
gstreamer/gstreamermm/plugin.cc
gstreamer/gstreamermm/plugin.h
gstreamer/gstreamermm/pluginfeature.cc
gstreamer/gstreamermm/pluginfeature.h
gstreamer/gstreamermm/preset.cc
gstreamer/gstreamermm/preset.h
gstreamer/gstreamermm/propertyprobe.cc
gstreamer/gstreamermm/propertyprobe.h
gstreamer/gstreamermm/pushsrc.cc
gstreamer/gstreamermm/pushsrc.h
gstreamer/gstreamermm/query.cc
gstreamer/gstreamermm/query.h
gstreamer/gstreamermm/registry.cc
gstreamer/gstreamermm/registry.h
gstreamer/gstreamermm/sample.cc
gstreamer/gstreamermm/sample.h
gstreamer/gstreamermm/sdpmessage.cc
gstreamer/gstreamermm/sdpmessage.h
gstreamer/gstreamermm/segment.cc
gstreamer/gstreamermm/segment.h
gstreamer/gstreamermm/socketsrc.cc
gstreamer/gstreamermm/socketsrc.h
gstreamer/gstreamermm/streamiddemux.cc
gstreamer/gstreamermm/streamiddemux.h
gstreamer/gstreamermm/streamsynchronizer.cc
gstreamer/gstreamermm/streamsynchronizer.h
gstreamer/gstreamermm/streamvolume.cc
gstreamer/gstreamermm/streamvolume.h
gstreamer/gstreamermm/structure.cc
gstreamer/gstreamermm/structure.h
gstreamer/gstreamermm/systemclock.cc
gstreamer/gstreamermm/systemclock.h
gstreamer/gstreamermm/taglist.cc
gstreamer/gstreamermm/taglist.h
gstreamer/gstreamermm/tagsetter.cc
gstreamer/gstreamermm/tagsetter.h
gstreamer/gstreamermm/task.cc
gstreamer/gstreamermm/task.h
gstreamer/gstreamermm/taskpool.cc
gstreamer/gstreamermm/taskpool.h
gstreamer/gstreamermm/toc.cc
gstreamer/gstreamermm/toc.h
gstreamer/gstreamermm/tocsetter.cc
gstreamer/gstreamermm/tocsetter.h
gstreamer/gstreamermm/tuner.cc
gstreamer/gstreamermm/tuner.h
gstreamer/gstreamermm/tunerchannel.cc
gstreamer/gstreamermm/tunerchannel.h
gstreamer/gstreamermm/tunernorm.cc
gstreamer/gstreamermm/tunernorm.h
gstreamer/gstreamermm/typefind.cc
gstreamer/gstreamermm/typefind.h
gstreamer/gstreamermm/typefindfactory.cc
gstreamer/gstreamermm/typefindfactory.h
gstreamer/gstreamermm/urihandler.cc
gstreamer/gstreamermm/urihandler.h
gstreamer/gstreamermm/value.cc
gstreamer/gstreamermm/value.h
gstreamer/gstreamermm/valuelist.cc
gstreamer/gstreamermm/valuelist.h
gstreamer/gstreamermm/videochroma.cc
gstreamer/gstreamermm/videochroma.h
gstreamer/gstreamermm/videoorientation.cc
gstreamer/gstreamermm/videoorientation.h
gstreamer/gstreamermm/videosink.cc
gstreamer/gstreamermm/videosink.h
gstreamer/gstreamermm/vorbistag.cc
gstreamer/gstreamermm/vorbistag.h
gstreamer/gstreamermm/wrap_init.cc
gstreamer/gstreamermm/xml.cc
gstreamer/gstreamermm/xml.h
gstreamer/gstreamermm/xoverlay.cc
gstreamer/gstreamermm/xoverlay.h
gstreamer/gstreamermm-*.pc
gstreamer/gstreamermmconfig.h

# Plugin .cc/.h files
gstreamer/gstreamermm/adder.cc
gstreamer/gstreamermm/adder.h
gstreamer/gstreamermm/alsamixer.cc
gstreamer/gstreamermm/alsamixer.h
gstreamer/gstreamermm/alsasink.cc
gstreamer/gstreamermm/alsasink.h
gstreamer/gstreamermm/alsasrc.cc
gstreamer/gstreamermm/alsasrc.h
gstreamer/gstreamermm/appsink.cc
gstreamer/gstreamermm/appsink.h
gstreamer/gstreamermm/appsrc.cc
gstreamer/gstreamermm/appsrc.h
gstreamer/gstreamermm/audioconvert.cc
gstreamer/gstreamermm/audioconvert.h
gstreamer/gstreamermm/audiorate.cc
gstreamer/gstreamermm/audiorate.h
gstreamer/gstreamermm/audioresample.cc
gstreamer/gstreamermm/audioresample.h
gstreamer/gstreamermm/audiotestsrc.cc
gstreamer/gstreamermm/audiotestsrc.h
gstreamer/gstreamermm/capsfilter.cc
gstreamer/gstreamermm/capsfilter.h
gstreamer/gstreamermm/cdparanoiasrc.cc
gstreamer/gstreamermm/cdparanoiasrc.h
gstreamer/gstreamermm/clockoverlay.cc
gstreamer/gstreamermm/clockoverlay.h
gstreamer/gstreamermm/decodebin.cc
gstreamer/gstreamermm/decodebin.h
gstreamer/gstreamermm/fakesink.cc
gstreamer/gstreamermm/fakesink.h
gstreamer/gstreamermm/fakesrc.cc
gstreamer/gstreamermm/fakesrc.h
gstreamer/gstreamermm/fdsink.cc
gstreamer/gstreamermm/fdsink.h
gstreamer/gstreamermm/fdsrc.cc
gstreamer/gstreamermm/fdsrc.h
gstreamer/gstreamermm/ffmpegcolorspace.cc
gstreamer/gstreamermm/ffmpegcolorspace.h
gstreamer/gstreamermm/filesink.cc
gstreamer/gstreamermm/filesink.h
gstreamer/gstreamermm/filesrc.cc
gstreamer/gstreamermm/filesrc.h
gstreamer/gstreamermm/funnel.cc
gstreamer/gstreamermm/funnel.h
gstreamer/gstreamermm/gdpdepay.cc
gstreamer/gstreamermm/gdpdepay.h
gstreamer/gstreamermm/gdppay.cc
gstreamer/gstreamermm/gdppay.h
gstreamer/gstreamermm/giosink.cc
gstreamer/gstreamermm/giosink.h
gstreamer/gstreamermm/giosrc.cc
gstreamer/gstreamermm/giosrc.h
gstreamer/gstreamermm/giostreamsink.cc
gstreamer/gstreamermm/giostreamsink.h
gstreamer/gstreamermm/giostreamsrc.cc
gstreamer/gstreamermm/giostreamsrc.h
gstreamer/gstreamermm/identity.cc
gstreamer/gstreamermm/identity.h
gstreamer/gstreamermm/inputselector.cc
gstreamer/gstreamermm/inputselector.h
gstreamer/gstreamermm/multifdsink.cc
gstreamer/gstreamermm/multifdsink.h
gstreamer/gstreamermm/multiqueue.cc
gstreamer/gstreamermm/multiqueue.h
gstreamer/gstreamermm/multisocketsink.cc
gstreamer/gstreamermm/multisocketsink.h
gstreamer/gstreamermm/oggdemux.cc
gstreamer/gstreamermm/oggdemux.h
gstreamer/gstreamermm/oggmux.cc
gstreamer/gstreamermm/oggmux.h
gstreamer/gstreamermm/outputselector.cc
gstreamer/gstreamermm/outputselector.h
gstreamer/gstreamermm/playbin.cc
gstreamer/gstreamermm/playbin.h
gstreamer/gstreamermm/queue.cc
gstreamer/gstreamermm/queue.h
gstreamer/gstreamermm/queue2.cc
gstreamer/gstreamermm/queue2.h
gstreamer/gstreamermm/subtitleoverlay.cc
gstreamer/gstreamermm/subtitleoverlay.h
gstreamer/gstreamermm/tcpclientsink.cc
gstreamer/gstreamermm/tcpclientsink.h
gstreamer/gstreamermm/tcpclientsrc.cc
gstreamer/gstreamermm/tcpclientsrc.h
gstreamer/gstreamermm/tcpserversink.cc
gstreamer/gstreamermm/tcpserversink.h
gstreamer/gstreamermm/tcpserversrc.cc
gstreamer/gstreamermm/tcpserversrc.h
gstreamer/gstreamermm/tee.cc
gstreamer/gstreamermm/tee.h
gstreamer/gstreamermm/textoverlay.cc
gstreamer/gstreamermm/textoverlay.h
gstreamer/gstreamermm/textrender.cc
gstreamer/gstreamermm/textrender.h
gstreamer/gstreamermm/theoradec.cc
gstreamer/gstreamermm/theoradec.h
gstreamer/gstreamermm/theoraenc.cc
gstreamer/gstreamermm/theoraenc.h
gstreamer/gstreamermm/theoraparse.cc
gstreamer/gstreamermm/theoraparse.h
gstreamer/gstreamermm/timeoverlay.cc
gstreamer/gstreamermm/timeoverlay.h
gstreamer/gstreamermm/typefindelement.cc
gstreamer/gstreamermm/typefindelement.h
gstreamer/gstreamermm/uridecodebin.cc
gstreamer/gstreamermm/uridecodebin.h
gstreamer/gstreamermm/valve.cc
gstreamer/gstreamermm/valve.h
gstreamer/gstreamermm/videoconvert.cc
gstreamer/gstreamermm/videoconvert.h
gstreamer/gstreamermm/videoformat.cc
gstreamer/gstreamermm/videoformat.h
gstreamer/gstreamermm/videoframe.cc
gstreamer/gstreamermm/videoframe.h
gstreamer/gstreamermm/videoinfo.cc
gstreamer/gstreamermm/videoinfo.h
gstreamer/gstreamermm/videooverlay.h
gstreamer/gstreamermm/videooverlay.cc
gstreamer/gstreamermm/videorate.cc
gstreamer/gstreamermm/videorate.h
gstreamer/gstreamermm/videoscale.cc
gstreamer/gstreamermm/videoscale.h
gstreamer/gstreamermm/videotestsrc.cc
gstreamer/gstreamermm/videotestsrc.h
gstreamer/gstreamermm/volume.cc
gstreamer/gstreamermm/volume.h
gstreamer/gstreamermm/vorbisdec.cc
gstreamer/gstreamermm/vorbisdec.h
gstreamer/gstreamermm/vorbisenc.cc
gstreamer/gstreamermm/vorbisenc.h
gstreamer/gstreamermm/vorbisparse.cc
gstreamer/gstreamermm/vorbisparse.h
gstreamer/gstreamermm/ximagesink.cc
gstreamer/gstreamermm/ximagesink.h
gstreamer/gstreamermm/xvimagesink.cc
gstreamer/gstreamermm/xvimagesink.h

# Generated plugin's filelist
gstreamer/src/plugin_filelist.am

# Generated plug-in .hg and .ccg files (not included in commits).
gstreamer/src/adder.ccg
gstreamer/src/adder.hg
gstreamer/src/alsamixer.ccg
gstreamer/src/alsamixer.hg
gstreamer/src/alsasink.ccg
gstreamer/src/alsasink.hg
gstreamer/src/alsasrc.ccg
gstreamer/src/alsasrc.hg
gstreamer/src/appsink.ccg
gstreamer/src/appsink.hg
gstreamer/src/appsrc.ccg
gstreamer/src/appsrc.hg
gstreamer/src/audioconvert.ccg
gstreamer/src/audioconvert.hg
gstreamer/src/audiorate.ccg
gstreamer/src/audiorate.hg
gstreamer/src/audioresample.ccg
gstreamer/src/audioresample.hg
gstreamer/src/audiotestsrc.ccg
gstreamer/src/audiotestsrc.hg
gstreamer/src/capsfilter.ccg
gstreamer/src/capsfilter.hg
gstreamer/src/cdparanoiasrc.ccg
gstreamer/src/cdparanoiasrc.hg
gstreamer/src/clockoverlay.ccg
gstreamer/src/clockoverlay.hg
gstreamer/src/concat.ccg
gstreamer/src/concat.hg
gstreamer/src/decodebin.ccg
gstreamer/src/decodebin.hg
gstreamer/src/downloadbuffer.ccg
gstreamer/src/downloadbuffer.hg
gstreamer/src/encodebin.ccg
gstreamer/src/encodebin.hg
gstreamer/src/fakesink.ccg
gstreamer/src/fakesink.hg
gstreamer/src/fakesrc.ccg
gstreamer/src/fakesrc.hg
gstreamer/src/fdsink.ccg
gstreamer/src/fdsink.hg
gstreamer/src/fdsrc.ccg
gstreamer/src/fdsrc.hg
gstreamer/src/ffmpegcolorspace.ccg
gstreamer/src/ffmpegcolorspace.hg
gstreamer/src/filesink.ccg
gstreamer/src/filesink.hg
gstreamer/src/filesrc.ccg
gstreamer/src/filesrc.hg
gstreamer/src/funnel.ccg
gstreamer/src/funnel.hg
gstreamer/src/gdpdepay.ccg
gstreamer/src/gdpdepay.hg
gstreamer/src/gdppay.ccg
gstreamer/src/gdppay.hg
gstreamer/src/giosink.ccg
gstreamer/src/giosink.hg
gstreamer/src/giosrc.ccg
gstreamer/src/giosrc.hg
gstreamer/src/giostreamsink.ccg
gstreamer/src/giostreamsink.hg
gstreamer/src/giostreamsrc.ccg
gstreamer/src/giostreamsrc.hg
gstreamer/src/identity.ccg
gstreamer/src/identity.hg
gstreamer/src/inputselector.ccg
gstreamer/src/inputselector.hg
gstreamer/src/multifdsink.ccg
gstreamer/src/multifdsink.hg
gstreamer/src/multiqueue.ccg
gstreamer/src/multiqueue.hg
gstreamer/src/multisocketsink.ccg
gstreamer/src/multisocketsink.hg
gstreamer/src/oggdemux.ccg
gstreamer/src/oggdemux.hg
gstreamer/src/outputselector.ccg
gstreamer/src/outputselector.hg
gstreamer/src/oggmux.ccg
gstreamer/src/oggmux.hg
gstreamer/src/playbin.ccg
gstreamer/src/playbin.hg
gstreamer/src/playsink.ccg
gstreamer/src/playsink.hg
gstreamer/src/queue.ccg
gstreamer/src/queue.hg
gstreamer/src/queue2.ccg
gstreamer/src/queue2.hg
gstreamer/src/socketsrc.ccg
gstreamer/src/socketsrc.hg
gstreamer/src/streamiddemux.ccg
gstreamer/src/streamiddemux.hg
gstreamer/src/streamsynchronizer.ccg
gstreamer/src/streamsynchronizer.hg
gstreamer/src/subtitleoverlay.ccg
gstreamer/src/subtitleoverlay.hg
gstreamer/src/tcpclientsink.ccg
gstreamer/src/tcpclientsink.hg
gstreamer/src/tcpclientsrc.ccg
gstreamer/src/tcpclientsrc.hg
gstreamer/src/tcpserversink.ccg
gstreamer/src/tcpserversink.hg
gstreamer/src/tcpserversrc.ccg
gstreamer/src/tcpserversrc.hg
gstreamer/src/tee.ccg
gstreamer/src/tee.hg
gstreamer/src/textoverlay.ccg
gstreamer/src/textoverlay.hg
gstreamer/src/textrender.ccg
gstreamer/src/textrender.hg
gstreamer/src/theoradec.ccg
gstreamer/src/theoradec.hg
gstreamer/src/theoraenc.ccg
gstreamer/src/theoraenc.hg
gstreamer/src/theoraparse.ccg
gstreamer/src/theoraparse.hg
gstreamer/src/timeoverlay.ccg
gstreamer/src/timeoverlay.hg
gstreamer/src/typefindelement.ccg
gstreamer/src/typefindelement.hg
gstreamer/src/uridecodebin.ccg
gstreamer/src/uridecodebin.hg
gstreamer/src/valve.ccg
gstreamer/src/valve.hg
gstreamer/src/videoconvert.ccg
gstreamer/src/videoconvert.hg
gstreamer/src/videorate.ccg
gstreamer/src/videorate.hg
gstreamer/src/videoscale.ccg
gstreamer/src/videoscale.hg
gstreamer/src/videotestsrc.ccg
gstreamer/src/videotestsrc.hg
gstreamer/src/volume.ccg
gstreamer/src/volume.hg
gstreamer/src/vorbisdec.ccg
gstreamer/src/vorbisdec.hg
gstreamer/src/vorbisenc.ccg
gstreamer/src/vorbisenc.hg
gstreamer/src/vorbisparse.ccg
gstreamer/src/vorbisparse.hg
gstreamer/src/vorbistag.ccg
gstreamer/src/vorbistag.hg
gstreamer/src/ximagesink.ccg
gstreamer/src/ximagesink.hg
gstreamer/src/xvimagesink.ccg
gstreamer/src/xvimagesink.hg

#tests/ gtest files
tests/release-1.7.0.zip
tests/gtest

#tests/
tests/test-allocator
tests/test-atomicqueue
tests/test-bin
tests/test-buffer
tests/test-bufferlist
tests/test-bus
tests/test-caps
tests/test-capsfeatures
tests/test-element
tests/test-ghostpad
tests/test-init
tests/test-iterator
tests/test-memory
tests/test-message
tests/test-miniobject
tests/test-pad
tests/test-pipeline
tests/test-query
tests/test-sample
tests/test-structure
tests/test-taglist
tests/test-urihandler
tests/test-value

tests/test-plugin-alsasink
tests/test-plugin-alsasrc
tests/test-plugin-appsink
tests/test-plugin-appsrc
tests/test-plugin-derivedfromappsink
tests/test-plugin-derivedfromappsrc
tests/test-plugin-derivedfromaudiosink
tests/test-plugin-derivedfromaudiosrc
tests/test-plugin-derivedfrombasetransform
tests/test-plugin-pushsrc
tests/test-plugin-register

tests/test-integration-bininpipeline
tests/test-integration-binplugin
tests/test-integration-rewritefile
tests/test-integration-seekonstartup
tests/test-integration-videoduration

tests/*.log
tests/*.trs

#tests/resources/
tests/resources/test-integration-bininpipeline-output-image.jpg
tests/resources/test-integration-binplugin-output-image.jpg

# tools/
/tools/extra_defs_gen/generate_defs_gst
/tools/extra_defs_gen/generate_plugin_module_defs_gst
/tools/extra_defs_gen/generate_plugin_gmmproc_file

# build/
build/compile
build/test-driver

build/config.guess
build/config.sub
build/depcomp
build/install-sh
build/libtool.m4
build/ltmain.sh
build/missing

#msvc project
gstreamermm.sdf
gstreamermm.suo
gstreamermm.vcxproj.user
gendef.vcxproj.user
/MSVC_2010/gstreamermm/Win32/*
/MSVC_2010/gstreamermm/x64/*
/MSVC_2010/gendef/Win32/*
/MSVC_2010/gendef/x64/*
/MSVC_2015/gstreamermm/Win32/*
/MSVC_2015/gstreamermm/x64/*
/MSVC_2015/gendef/Win32/*
/MSVC_2015/gendef/x64/*
/MSVC_2015/.vs/
/MSVC_2015/gstreamermm.VC.db
